@font-face {
    font-family: "Mouse";
    src: local("Mouse"), url("./font.woff") format("woff");
}

.joystick {
    position: absolute;
    z-index: 9999;
    width:200px;
    height:200px;
    margin-bottom:20px;
    bottom: 0;
}

#y-joystick {
    left: 0;
}

#x-joystick {
    right: 0;
}

html {
    font-family: "Mouse";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15;
    -webkit-overflow-scrolling: touch;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow: hidden;
    position: relative;
}

#windowCanvas {
    background: #FFFFFF00;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
